<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="body">
    <link rel="stylesheet" href="style/style.css">
    <script src="script/client.js"></script>
    <div id="root"></div>
    <input type="button" onclick="invite()" value="Invite" id="inviteButton">
    <!-- <div id="game_container">
        <div id="battlefield">
            <div id="battle_container">
                <div id="enemy_battlefield">
                </div>
                <div id="player_battlefield">
                </div>
            </div>
        </div>

        <div id="hands">

        </div>
        <div id="player_info">
            <img src="1.png" alt="">
            <p>Login</p>
            <p>10❤️</p>
        </div>
        <div id="enemy_info">
            <img src="1.png" alt="">
            <p>Login</p>
            <p>10❤️</p>
        </div>
    </div> -->
    <!-- <div id="notification" class="center">
        <div class="center">
            You are first!
        </div>
    </div> -->

</body>
</html>
