<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Password reminder: Marvel`s Legends</title>
    <link rel="stylesheet" href="view/templates/style/login_reg_style.css">
</head>

<body>
    <h1>Password reminder</h1>
    <div class="form">
        <form action="index.php" method="post">
            <div class="fields">
                <p>
                    <span>Login</span>
                    <input type="text" required placeholder="Login" name="login"></input>
                </p>
            </div>
            <div class="buttons">
                <p>
                    <button type="submit" name="remind">Remind password</button>
                </p>
        </form>
        <form action="index.php" method="post">
            <p>
                <input type="submit" name="go_log" value="Back to Login">
            </p>
        </form>
    </div>
    </div>
</body>

</html>